// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=31q0u0kllll++j0Yv000Q++5k++ */

// Feel free to copy&paste color codes to your application */

$base-color: #fff;
//$second-color: #930143;
$second-color: #43bdee;
// As hex codes */


$color-primary-0: #AA9739; // Main Primary color */
$color-primary-1: #977D00;
$color-primary-2: #000000;
$color-primary-3: #FFFEF8;
$color-primary-4: #FFF8D5;

$color-secondary-1-0: #582A72; // Main Secondary color (1) */
$color-secondary-1-1: #410065;
$color-secondary-1-2: #000000;
$color-secondary-1-3: #FDF9FF;
$color-secondary-1-4: #F1D7FF;

$color-secondary-2-0: #2E4272; // Main Secondary color (2) */
$color-secondary-2-1: #001F65;
$color-secondary-2-2: #000000;
$color-secondary-2-3: #F9FBFF;
$color-secondary-2-4: #D9E5FF;