{# <div class="chosen-product">Продукт {{ params.product }}</div> #}
<div style="color: darkred">*Виджет в стадии разработки. Если заметили
    ошибку в работе, пожалуйста, опишите
    как ее можно повторить и сообщите про
    нее
    администратору

</div>
{#<div class="nika-input-columns">
    <div class="nika-input-block">
        #}{# report_date: 'Дата отчета' #}{#
        {% include 'templates/elements/form_element.twig' with {
            params: params.report_date
        } %}
        #}{# report_responsible: 'Отчет создал' #}{#
        {% include 'templates/elements/form_element.twig' with {
            params: params.report_responsible
        } %}
        #}{# 'awb_number': 'AWB номер', #}{#
        {% include 'templates/elements/form_element.twig' with {
            params: params.awb_number
        } %}
        #}{# 'seat_qty': 'Кол-во мест', #}{#
        {% include 'templates/elements/form_element.twig' with {
            params: params.seat_qty
        } %}
        #}{# 'physical_weight': 'Физический вес', #}{#
        {% include 'templates/elements/form_element.twig' with {
            params: params.physical_weight
        } %}
        #}{# 'payable_weight': 'Оплачиваемый вес', #}{#
        {% include 'templates/elements/form_element.twig' with {
            params: params.payable_weight
        } %}
        #}{# 'departure_point': 'пункт отправления', #}{#
        {% include 'templates/elements/form_element.twig' with {
            params: params.departure_point
        } %}
        #}{# 'destination_point': 'пункт назначения', #}{#
        {% include 'templates/elements/form_element.twig' with {
            params: params.destination_point
        } %}
    </div>
    <div class="nika-input-block">
        #}{# shipment_number: 'Shipment №', #}{#
        {% include 'templates/elements/form_element.twig' with {
            params: params.shipment_number
        } %}
        #}{# contact_name: 'Компания' - вручную создано, #}{#
        {% include 'templates/elements/form_element.twig' with {
            params: params.contact_name
        } %}
        #}{# contact_name: 'Инн' - вручную создано, #}{#
        {% include 'templates/elements/form_element.twig' with {
            params: params.contact_inn
        } %}
        #}{# report_url: 'Ссылка на отчет' #}{#
        {% include 'templates/elements/form_element.twig' with {
            params: params.report_url,
            wrapper: 'a'
        } %}
        #}{# CASS поле которое меняет другое поле
         "cass": "CASS",
        #}{#
        {% include 'templates/elements/form_element.twig' with {
            params: params.cass
        } %}
    </div>
</div>#}





