<div class="nika-elements-block__wrap">
    <div class="nika-elements-block__title">Опции</div>
    <div class="nika-elements-block">
        <div class="nika-options">
            {# <div class="nika-task-notify-checkbox">
                <input type="checkbox"
                       class="nika-task-notify-checkbox__input"
                       name="close-option"
                       id="close-option"
                       {% if closeOption %}checked{% endif %}>
                <label for="close-option"
                       class="nika-task-notify-checkbox__label">
                    <span class="nika-task-notify-checkbox__label-box"></span>
                    <span class="nika-task-notify-checkbox__label-text">Разрешить закрытие окна</span>
                </label>
            </div> #}
        </div>
    </div>
</div>