  <div class="control--select form-field field-value">
    <ul class="custom-scroll control--select--list">
        <li class="control--select--list--item    control--select--list--item-selected"><span
                    class="control--select--list--item-inner" title="РУБ">РУБ</span></li>
        <li class="control--select--list--item  "><span class="control--select--list--item-inner"
                                                        title="EUR">EUR</span></li>
        <li class="control--select--list--item  "><span class="control--select--list--item-inner"
                                                        title="USD">USD</span></li>
    </ul>
    <button class="control--select--button" tabindex="" type="button"><span class="control--select--button-inner">РУБ</span></button>
    <input type="hidden" class="control--select--input " id="currency-select-{{ code }}" name="currency-select-{{ code }}" value=" "
           data-change-on-init="true">
</div>
